/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Freckle+Face&family=Kirang+Haerang&display=swap');

@import "tailwindcss";

/* BASE STYLES */
:root {
  max-width: screen;
  margin: 0 auto;
  text-align: center;
  background-color: var(--color-beige);
  font-family: var(--font-bai);
}

/* THEME DIRECTIVES */
@theme {
  /* fonts */
  --font-freckle: 'Freckle Face', sans-serif;
  --font-kira: 'Kirang Haerang';
  --font-bai: 'Bai Jamjuree';

  /* colors */
  --color-prussian: #000022;
  --color-beige: #E6EED6;
  --color-brick: #A72608;
  --color-spruce: #214E34;
  --color-carrot: #F9A03F;
}

/* Header styles */
h1 {
  @apply font-kira text-4xl;
}
h2 {
  @apply font-kira text-3xl;
}
h3 {
  @apply font-freckle text-4xl;
}
h4 {
  @apply font-kira text-2xl;
}

/* Special text styles */
.intro-text {
  @apply font-kira mx-[10vw] md:mx-[20vw] lg:mx-[25vw] xl:mx-[30vw] text-2xl space-y-4;
}
.character-text {
  @apply font-medium;
}

/* Logotype styles */
.logotype {
  @apply font-freckle text-7xl text-prussian;
}

.logotype .small {
  @apply text-5xl text-spruce;
}

/* Start button animations */
.start-button:hover {
  @apply transform transition-all duration-500 scale-110 bg-linear-to-r from-carrot via-pink-300 to-brick shadow-xl shadow-gray-400;
}